
// Cores
$primary-color: #1e8f2f;
$secondary-color: #fff;
$thirdy-color: #004d0e;
$bg-jogo-da-velha-btn-color: #f0f0f0;

//raio de bordas
$border-r-sm: 8px;

//tamanhos de fonte
$font-default: 16px;
$font-huge: 32px;

//tamanhos de background image
$tamanho-bg-jogo-da-velha-default: 70px;
$tamanho-bg-jogo-da-velha-hover: 90px;

//border
$btn-jogo-da-velha-border: solid rgba(0, 0, 0, 0.1) 2px;
$thin-border: black solid 1px;
