.header {
  margin: 0;
  background: rgb(0, 77, 14);
  color: white;

  display: flex;
  justify-content: space-between;
}
.title {
  padding: 5%;
  margin: 0;
}
.login {
  align-self: flex-end;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  gap: 6px;
  align-items: center;
}
.btn {
  background-color: #1e8f2f;
  padding: 8px 32px;
  color: white;
  border-radius: 8px;
  border: solid 1px gray;
  font-size: 14px;
  font-weight: bold;
}
.btn:hover {
  background-color: white;
  color: #1e8f2f;
}
.icon {
  height: 28px;
  width: 36px;
  filter: invert(1);
}
