.resetBtn {
  background-color: #1e8f2f;
  margin-top: 15px;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 800;
  border: none;
  font-size: 16px;
}
.jogo {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
