@use "../../styles/variables" as *;

.resetBtn {
  background-color: $primary-color;
  margin-top: 15px;
  padding: 12px 24px;
  border-radius: 8px;
  color: $secondary-color;
  font-weight: 800;
  border: none;
  font-size: $font-default;
}
.jogo {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
